<h1>Home Page</h1>
<a ui-sref="category">Create category.</a>
<a ui-sref="createMonthPlan" id="new-plan-link">Create new month plan.</a>
<table>
    <tr>
        <td>Name</td>
        <td>Category</td>
        <td>Planned</td>
    </tr>
    <tr ng-repeat="expence in currentMonthePlan">
        <td>{{ expence.name }}</td>
        <td>{{ expence.category }}</td>
        <td>{{ expence.amount | currency }}</td>
    </tr>
    <tr class="create_expence">
        <td>
            <input type="text" ng-model-="newExpence.name">
        </td>
        <td>
            <select name="" id="" ng-model="newExpence.category" ng-options="categories">
            </select>
        </td>
        <td>
            hjsdhfjkssdfsdf
        </td>
    </tr>
</table>